<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/primary.js') }}"></script>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- Icons -->
		<script src="https://kit.fontawesome.com/deef0bf4ed.js" crossorigin="anonymous"></script>
		
		<title>Register | Interject</title>
	</head>

	<body style="background-color: rgb(1, 106, 144);">

        <div id="navbar" style="background-color: rgb(1, 106, 144);">
            <img class="logo-title" src="/logo.png"></img>
        </div>

        <div id="wrap">
            <br>
            <h1 style="font-family: 'Heebo', sans-serif;">Let's get you on board.</h1>
            <p style="text-align: center">
                If you already have an account,
                <a class="link" style="color: rgb(1, 106, 144);" href="/login">login here!</a>
            </p>

            <form class="needs-validation" novalidate action="{{ url_for('register') }}" method="post">
                <div class="form-group">
                    <div style="text-align: left; padding: 0% 150px;">
                        <label for="validationCustom01"><b>Name</b></label>
                        <div>
                            <input type="text" class="form-control" name="nm" id="validationCustom01" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid name.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align: left; padding: 0% 150px;">
                        <label for="validationCustom02"><b>Date of Birth</b></label>
                        <input type="date" class="form-control" name="dob" id="validationCustom02" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div style="text-align: left; padding: 0% 150px;">
                        <label for="validationCustom01"><b>Email</b></label>
                        <div>
                            <input type="text" class="form-control" name="em" id="validationCustom01" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div style="padding: 0% 150px; text-align: left;">
                        <label for="validationCustom02"><b>Password</b></label>
                        <input type="password" class="form-control" name="pw" id="validationCustom02" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid password.
                        </div>
                    </div>
                    <br><br>
                    <button class="submit-button" type="submit"><a class="submit-link" style="color: white;">Register</a></button>
                </div>
            </form>



        </div>

    </body>
</html>